In [4]:
import pandas as pd
df = pd.read_csv('../data/icu_dummy.csv')
df.head()

   patient_id  age  heart_rate  blood_pressure  spo2  temperature  mortality
0           1   65         110              85    92         38.2          1
1           2   50          88             120    97         37.0          0
2           3   72         120              90    89         38.5          1
3           4   45          76             130    99         36.8          0
4           5   60          95             100    94         37.5          0

In [2]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      10 non-null     int64
 1   age             10 non-null     int64
 2   heart_rate      10 non-null     int64
 3   blood_pressure  10 non-null     int64
 4   spo2            10 non-null     int64
 5   temperature     10 non-null     float64
 6   mortality       10 non-null     int64
dtypes: float64(1), int64(6)
memory usage: 692.0 bytes

In [3]:
df.describe()

,patient_id,age,heart_rate,blood_pressure,spo2,temperature,mortality
count,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,5.50000,61.200000,100.100000,103.500000,93.100000,37.720000,0.500000
std,3.02765,13.571211,19.318673,16.534476,4.483302,0.789937,0.527046
min,1.00000,40.000000,70.000000,85.000000,85.000000,36.700000,0.000000
25%,3.25000,51.250000,89.000000,90.500000,90.250000,37.050000,0.000000
50%,5.50000,62.500000,100.000000,97.500000,93.000000,37.750000,0.500000
75%,7.75000,71.000000,113.750000,117.500000,96.750000,38.275000,1.000000
max,10.00000,80.000000,130.000000,130.000000,99.000000,39.000000,1.000000

In [5]:
from sklearn.preprocessing import StandardScaler

In [13]:
X= df.drop(columns=['patient_id','mortality'])
y= df['mortality']

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [15]:
print(X_train.shape)
print(X_test.shape)

(8, 5)
(2, 5)

In [16]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [17]:
import pandas as pd

X_train_scaled = pd.DataFrame(X_train_scaled, columns=X.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X.columns)

X_train_scaled.head()

        age  heart_rate  blood_pressure      spo2  temperature
0  1.352485    1.525757       -0.773426 -1.723281     1.566837
1 -0.022923    0.286564       -0.989266  0.000000     0.387101
2  0.252158   -0.023235       -0.269800 -0.246183     0.092167
3  0.618934    0.906160       -0.629533 -0.738549     0.829502
4  1.077404    0.596362       -0.485640 -0.492366     0.534568